spring:
  application:
    name: voting-system
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/voting_db
    username: postgres
    password: admin
  flyway:
    enabled: true

#logging:
#  level:
#    root: debug
logging:
  level:
    org.flywaydb: DEBUG